html {
	min-width: 1000px;
	height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
	border: 0;
	margin: 0;
	padding: 0;
    background: #EEE;
}

.container {
    width: 1000px !important;
}

h1 {
    font-size:36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

#top-alert {
    position: fixed;
    top: -5px;
    left: 15%;
    width: 70%;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    box-shadow: 4px 4px 26px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 20px;
    z-index: 999;
    text-align: center;
}

.tablestyle1 {
    width: 100%;
}

.tablestyle1 tr{
    height: 40px;
}

.tablestyle1 th, td{
    padding: 10px;
}


.a-button{
    padding:5px 10px;
    border: 2px solid #555555;
    background: #0000;
    cursor: pointer;
    color: #000;
	transition: all .1s ease-in 0s;
}


.a-button:hover{
    cursor: pointer;
    color: #FFF;
    background: #b53939;
	transition: all .1s ease-in 0s;
}