<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>校园智慧餐厅管理后台</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    function F_Open_dialog()
    {
        document.getElementById("upload_file_selector").click();
    }

    function F_Change()
    {
        document.getElementById("upload_h3_2").innerHTML="Uploading ……";
        document.getElementById("upload_p").innerHTML='<i class="fa fa-hourglass fa-spin"></i>'
        document.getElementById("upload_file_btn").click();
    }

    $(document).ready(function(){
        setTimeout("Alert_close()",3000)
    })

    function Alert_close()
    {
        $("#top-alert").animate({top:"-70px"}, 1000);
    }

    </script>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data"  style="display:none">
    <input id="upload_file_selector" type="file" name="upload_file" onchange="F_Change()"/>
    <input id="upload_file_btn" type="submit" value="Upload" />
</form>




<section>

    <div style="background:#636363; width:100%; height:80px; padding-top:20px; border-bottom: 4px solid #b53939;">
        <h1 style="text-align:center; color:#eaeaea; margin-top:0px;">校园智慧餐厅管理后台</h1>
    </div>

    <div class="container">

        {% if get_flashed_messages() %}
        <div id="top-alert">
            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row">

            <div class="col-xs-12">
                <h2>最近24小时人脸识别次数</h2>
            </div>

            <div class="col-xs-12">
                <div style="padding-left:0px;" class="col-xs-1">
                    <div class="button">
                        <p>刷新</p>
                    </div>
                </div>
            </div>

            <div style="margin-top:10px;" class="col-xs-12">
                <img style="width:100%" src="/static/img/data1.png"/>
            </div>

            <div style="margin-top:30px" class="col-xs-12">
                <h2>学生信息管理</h2>
            </div>

            <div class="col-xs-12">
                <p><a href="/add_user_0" class="a-button">新增</a>&nbsp&nbsp&nbsp<a href="/" class="a-button">查询</a></p>
            </div>


            <div class="col-xs-12">
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>学号</th>
                        <th>专业</th>
                        <th>年龄</th>
                        <th>余额</th>
                        <th>手机</th>
                        <th>人脸编号</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>

                    {% for p in data.people[:10] %}
                    <tr>
                        <td>{{p.name}}</td>
                        <td>{{p.gender}}</td>
                        <td>{{p.student_id}}</td>
                        <td>{{p.major}}</td>
                        <td>{{p.age}}</td>
                        <td>{{p.money}}</td>
                        <td>{{p.phone}}</td>
                        <td>{{p.yuncong_id}}</td>
                        <td><a href="/mod_user?student_id={{p.student_id}}">修改</a></td>
                        <td><a href="/delete_user?student_id={{p.student_id}}">删除</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>


            <div style="margin-top:30px" class="col-xs-12">
                <h2>最近十次点餐记录</h2>
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>时间</th>
                        <th>学号</th>
                        <th>终端号</th>
                        <th>菜品名</th>
                        <th>忌口</th>
                        <th>费用</th>
                        <th>所属餐厅</th>
                    </tr>

                    {% for p in data.eating[:10] %}
                    <tr>
                        <td>{{p.time}}</td>
                        <td>{{p.student_id}}</td>
                        <td>{{p.machine}}</td>
                        <td>{{p.food}}</td>
                        <td>{{p.jiko}}</td>
                        <td>{{p.cost}}</td>
                        <td>{{p.hall}}</td>
                    </tr>
                    {% endfor %}

                </table>

                <!--<p style="margin-top: 10px;"><a href="/" class="a-button">详细记录</a></p>-->
            </div>


            <div style="margin-top:30px"  class="col-xs-12">
                <p><a href="/all_eating" class="a-button">所有点菜信息</a></p>
            </div>

            <div style="margin-top:30px" class="col-xs-12">
                <h2>菜品列表</h2>
            </div>

            <div class="col-xs-12">
                <p><a href="/add_food" class="a-button">新增菜品</a></p>
            </div>

            <div class="col-xs-12">
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>ID</th>
                        <th>菜品名</th>
                        <th>所属食堂</th>
                        <th>价格</th>
                        <th>主要材料</th>
                        <th>肉素类别</th>
                        <th>口味</th>
                        <th>最近消费次数</th>
                        <th>删除</th>
                    </tr>

                    {% for p in data.food %}
                    <tr>
                        <td>{{p.food_id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.hall}}</td>
                        <td>{{p.cost}}</td>
                        <td>{{p.materials}}</td>
                        <td>{{p.vegetarian}}</td>
                        <td>{{p.taste}}</td>
                        <td>{{p.times}}</td>
                        <td><a href="/delete_food?food_id={{p.food_id}}">删除</a></td>
                    </tr>
                    {% endfor %}

                </table>

                <!--<p style="margin-top: 10px;"><a href="/" class="a-button">详细记录</a></p>-->
            </div>


            <div style="margin-top:30px" class="col-xs-12">
                <h2>食堂活跃度分析</h2>

                <img src="/static/img/track1.png" style="width:100%; border:2px solid #888" />
            </div>


            <div style="margin-top:30px" class="col-xs-12">
                <p><a href="/start_train" class="a-button">开始训练菜品推荐模型</a></p>
            </div>

        </div>

        <div id="footer">
            <div style="width:100%; height:200px;">

            </div>
        </div>


    </div>

</section>


</body>
</html>
