<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>校园人脸识别平台统一管理后台</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    function F_Open_dialog()
    {
        document.getElementById("upload_file_selector").click();
    }

    function F_Change()
    {
        document.getElementById("upload_h3_2").innerHTML="Uploading ……";
        document.getElementById("upload_p").innerHTML='<i class="fa fa-hourglass fa-spin"></i>'
        document.getElementById("upload_file_btn").click();
    }

    $(document).ready(function(){
        setTimeout("Alert_close()",1000)
    })

    function Alert_close()
    {
        $("#top-alert").animate({top:"-70px"}, 1000);
    }

    </script>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data"  style="display:none">
    <input id="upload_file_selector" type="file" name="upload_file" onchange="F_Change()"/>
    <input id="upload_file_btn" type="submit" value="Upload" />
</form>




<section>

    <div style="background:#636363; width:100%; height:80px; padding-top:20px; border-bottom: 4px solid #b53939;">
        <h1 style="text-align:center; color:#eaeaea; margin-top:0px;">校园人脸识别平台统一管理后台</h1>
    </div>

    <div class="container">

        {% if get_flashed_messages() %}
        <div id="top-alert">
            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row">

            <div class="col-xs-12">
                <h2>最近24小时人脸识别次数</h2>
            </div>

            <div class="col-xs-12">
                <div style="padding-left:0px;" class="col-xs-1">
                    <div class="button">
                        <p>刷新</p>
                    </div>
                </div>
            </div>

            <div style="margin-top:10px;" class="col-xs-12">
                <img style="width:100%" src="/static/img/data1.png"/>
            </div>

            <div style="margin-top:30px" class="col-xs-12">
                <h2>学生信息管理</h2>
            </div>

            <div class="col-xs-12">
                <p><a href="/" class="a-button">新增</a>&nbsp&nbsp&nbsp<a href="/" class="a-button">查询</a></p>
            </div>


            <div class="col-xs-12">
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>宿舍号</th>
                        <th>余额</th>
                        <th>缺席课时</th>
                        <th>人脸照片</th>
                        <th>修改</th>
                        <th>删除</th>
                        <th>轨迹分析</th>
                    </tr>

                    {% for p in data.people %}
                    <tr>
                        <td>{{p.name}}</td> <td>{{p.id}}</td> <td>{{p.room}}</td> <td>{{p.money}}</td> <td>{{p.lessontime}}</td> <td>{{p.img}}</td>
                        <td><a href="#">修改</a></td> <td><a href="#">删除</a></td> <td><a href="track?id={{p.id}}">轨迹分析</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>


            <div style="margin-top:30px" class="col-xs-6">
                <h2>最近五次点餐记录</h2>
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>时间</th>
                        <th>学号</th>
                        <th>终端号</th>
                        <th>费用</th>
                    </tr>

                    {% for p in data.eating[:5] %}
                    <tr>
                        <td>{{p.time}}</td> <td>{{p.id}}</td> <td>{{p.machine}}</td> <td>{{p.cost}}</td>
                    </tr>
                    {% endfor %}

                </table>

                <p style="margin-top: 10px;"><a href="/" class="a-button">详细记录</a></p>
            </div>


            <div style="margin-top:30px" class="col-xs-6">
                <h2>最近五次上课签到记录</h2>
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>时间</th>
                        <th>学号</th>
                        <th>终端号</th>
                    </tr>

                    {% for p in data.lesson[:5] %}
                    <tr>
                        <td>{{p.time}}</td> <td>{{p.id}}</td> <td>{{p.machine}}</td>
                    </tr>
                    {% endfor %}

                </table>

                <p style="margin-top: 10px;"><a href="/" class="a-button">详细记录</a></p>
            </div>


            <div style="margin-top:30px" class="col-xs-6">
                <h2>最近五次宿舍开门记录</h2>
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>时间</th>
                        <th>学号</th>
                        <th>终端号</th>
                    </tr>

                    {% for p in data.door[:5] %}
                    <tr>
                        <td>{{p.time}}</td> <td>{{p.id}}</td> <td>{{p.machine}}</td>
                    </tr>
                    {% endfor %}

                </table>

                <p style="margin-top: 10px;"><a href="/" class="a-button">详细记录</a></p>
            </div>


            <div style="margin-top:30px" class="col-xs-12">
                <h2>最近十次异常行为记录</h2>
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>时间</th>
                        <th>学号</th>
                        <th>终端号</th>
                        <th>异常行为类别</th>
                    </tr>

                    {% for p in data.error[:10] %}
                    <tr>
                        <td>{{p.time}}</td> <td>{{p.id}}</td> <td>{{p.machine}}</td> <td>{{p.errortype}}</td>
                    </tr>
                    {% endfor %}

                </table>

                <p style="margin-top: 10px;"><a href="/" class="a-button">详细记录</a></p>
            </div>
        </div>

        <div id="footer">
            <div style="width:100%; height:200px;">

            </div>
        </div>


    </div>

</section>


</body>
</html>
