<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>校园人脸识别平台统一管理后台</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    function F_Open_dialog()
    {
        document.getElementById("upload_file_selector").click();
    }

    function F_Change()
    {
        document.getElementById("upload_h3_2").innerHTML="Uploading ……";
        document.getElementById("upload_p").innerHTML='<i class="fa fa-hourglass fa-spin"></i>'
        document.getElementById("upload_file_btn").click();
    }

    $(document).ready(function(){
        setTimeout("Alert_close()",1000)
    })

    function Alert_close()
    {
        $("#top-alert").animate({top:"-70px"}, 1000);
    }

    </script>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data"  style="display:none">
    <input id="upload_file_selector" type="file" name="upload_file" onchange="F_Change()"/>
    <input id="upload_file_btn" type="submit" value="Upload" />
</form>




<section>

    <div style="background:#636363; width:100%; height:80px; padding-top:20px; border-bottom: 4px solid #b53939;">
        <h1 style="text-align:center; color:#eaeaea; margin-top:0px;">校园人脸识别平台统一管理后台</h1>
    </div>

    <div class="container">

        {% if get_flashed_messages() %}
        <div id="top-alert">
            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row">

            <div class="col-xs-12">
                <h2>最近24小时人脸识别次数</h2>
            </div>

            <div class="col-xs-12">
                <div style="padding-left:0px;" class="col-xs-1">
                    <div class="button">
                        <p>刷新</p>
                    </div>
                </div>
            </div>

            <div style="margin-top:10px;" class="col-xs-12">
                <img style="width:100%" src="/static/img/data1.png"/>
            </div>

            <div style="margin-top:30px" class="col-xs-12">
                <h2>学生信息管理</h2>
            </div>

            <div class="col-xs-12">
                <div style="padding-left:0px;" class="col-xs-1">
                    <div class="button">
                        <p>新增</p>
                    </div>
                </div>

                <div class="col-xs-1">
                    <div class="button">
                        <p>查询</p>
                    </div>
                </div>
            </div>


            <div class="col-xs-12">
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>联系电话</th>
                        <th>人脸照片</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>

                    <tr>
                        <td>黄浩岚</td> <td>20175635</td> <td>13795595302 </td> <td>20175635.jpg</td>
                        <td><a href="#">修改</a></td> <td><a href="#">删除</a></td>
                    </tr>

                    <tr>
                        <td>湛淑兰</td> <td>20174922</td> <td>13702910069 </td> <td>20174922.jpg</td>
                        <th><a href="#">修改</a></th> <td><a href="#">删除</a></td>
                    </tr>

                    <tr>
                        <td>竹飞兰</td> <td>20179467</td> <td>13720247918</td> <td>20179467.jpg</td>
                        <td><a href="#">修改</a></td> <td><a href="#">删除</a></td>
                    </tr>

                    <tr>
                        <td>清凌寒</td> <td>20175251</td> <td>13771300297</td> <td>20175251.jpg</td>
                        <td><a href="#">修改</a></td> <td><a href="#">删除</a></td>
                    </tr>

                    <tr>
                        <td>朱静云</td> <td>20171504</td> <td>13790915127 </td> <td>20171504.jpg</td>
                        <td><a href="#">修改</a></td> <td><a href="#">删除</a></td>
                    </tr>

                    <tr>
                        <td>钱从丹</td> <td>20171980</td> <td>13795969044</td> <td>20171980.jpg</td>
                        <td><a href="#">修改</a></td> <td><a href="#">删除</a></td>
                    </tr>

                    <tr>
                        <td>宰曼彤</td> <td>20171328</td> <td>13708242023</td> <td>20171328.jpg</td>
                        <td><a href="#">修改</a></td> <td><a href="#">删除</a></td>
                    </tr>


                </table>
            </div>


            <div style="margin-top:30px" class="col-xs-4">
                <h2>最近五次点餐记录</h2>
                <table border="1" style="margin-top:20px;" class="tablestyle1">
                    <tr>
                        <th>时间</th>
                        <th>学号</th>
                        <th>终端号</th>
                    </tr>

                    <tr>
                        <td>2018/7/24 11:21:34</td> <td>20171328</td> <td>21</td>
                    </tr>

                    <tr>
                        <td>2018/7/24 11:21:34</td> <td>20171328</td> <td>21</td>
                    </tr>

                    <tr>
                        <td>2018/7/24 11:21:34</td> <td>20171328</td> <td>21</td>
                    </tr>

                    <tr>
                        <td>2018/7/24 11:21:34</td> <td>20171328</td> <td>21</td>
                    </tr>
                </table>

                <div style="padding-left:0px; margin-top:10px" class="col-xs-2">
                    <div style="width:100px;" class="button">
                        <p>详细记录</p>
                    </div>
                </div>
            </div>


            <div style="margin-top:30px" class="col-xs-4">
                <h2>最近五次上课签到记录</h2>
            </div>


            <div style="margin-top:30px" class="col-xs-4">
                <h2>最近五次宿舍开门记录</h2>
            </div>
        </div>

        <div id="footer">
            <div style="width:100%; height:200px;">

            </div>
        </div>


    </div>

</section>


</body>
</html>
